@import '@servicenow/sass-kit/host';
@import '@servicenow/sass-utility/index';

*,
*:after,
*:before {
  box-sizing: border-box;
}

.snc-filter {
	background-color: RGB($now-color_background--secondary);
	border: 1px solid RGB($now-color_border--secondary);
	border-radius: $now-menu--border-radius;
	font-family: $now-font-family;
}