@import '@servicenow/sass-kit/host';
@import '@servicenow/sass-utility/index';
$accent-color: #61C7B3;

$color-light-grey: #EFEFEF;
$color-dark-grey: #888;
$color-red: #D23B3D;
$color-orange: #E2A917;
$color-blue: #1BC3E1;
$color-green: #9AE14F;

$sidebar-dark-text-color: #465162;
$sidebar-padding: 20px;

* {
  box-sizing: border-box;
}

#sidebar {
  font-family: $now-font-family;
	font-size: 1rem;
  background-color: RGB($now-color_background--secondary);
  color: RGB($now-color_text--primary);
  transition-duration: 1s;
	height: 100%;

  a {
    color: RGB($now-color_text--primary);
    text-decoration: none;
    transition-duration: .3s;

    &:hover {
      transition-duration: .05s;
      text-decoration: none;
    }
  }

  .logo-container {
    font-weight: 100;
		font-size: 1.875rem;
    text-align: center;
    cursor: pointer;
		text-align: start;
		padding-left: 20px;
		padding-right: 10px;
		padding-top: 4px;
    .logo {
      margin-right: 15px;
			// border: 2px solid RGB($now-color--primary-1);
			// border-radius: 100px;
			// text-indent: 1px;
			// color: RGB($now-color--primary-1);
    }
  }

  .menu-segment {
    padding: 0;
		margin-top: 9px;

    ul {
			margin: 0;
			padding: 0;
      list-style: none;
		}

    .ball {
			&.pink {
				border-color: #EA4C89;
			}
			&.green {
				border-color: #9AE14F;
			}
			&.blue {
				border-color: #1BC3E1;
			}
		}

    li {
			padding-left: 20px;

			&.ciName {
				text-transform: uppercase;
				font-weight: 600;
				color: RGB($now-color_text--primary);
			}

			&.active a, &.active a:hover {
				background: RGB($now-color--primary-1);
			}

			a {
				display: block;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: (-$sidebar-padding - 20px);
				// margin: 0px -$sidebar-padding 0px (-$sidebar-padding - 20px);
				padding: 10px $sidebar-padding 10px ($sidebar-padding + 20px);

				&:hover {
					background: RGB($now-color--primary-0) !important;
				}
			}
		}
  }
}

.primary-color {
	color: RGB($now-color--primary-1);
}