@import '@servicenow/sass-kit/host';

@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

* {
  box-sizing: border-box;
}

#info-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: RGB($now-color_background--tertiary);
  border-radius: 4px;
  color: RGB($now-color_text--primary);
  //width: 40vw;
  height: 100%;
  padding: 20px;
  font-size: 1rem;
  font-family: $now-font-family;
  #info-header h1 {
    font-weight: 100;
    font-size: 1.625rem;
    margin-top: 0;
    now-icon {
      margin-right: 10px;
      color: RGB($now-color--primary-1);

      &:hover {
        color: RGB($now-color--primary-2);
      }
    }
  }
}

#cards-header {
  .tabset > input[type="radio"] {
    position: absolute;
    left: -500vw;
  }

  .tabset .tab-panel {
    display: none;
  }

  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }

  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    cursor: pointer;
    color: RGB($now-color_text--primary);
  }

  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: RGB($now-color_divider--primary);
    border-radius: 6px;
  }

  .tabset > label:hover,
  .tabset > input:focus + label {
    background: RGB($now-color--secondary-0);
    border-radius: 6px;
  }

  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: RGB($now-color--primary-1);
    border-radius: 6px;
  }

  .tabset > input:checked + label {
    margin-bottom: -1px;
  }
}

#info-cards {
  height: 63vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
    background: RGB($now-color_background--secondary);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: RGB($now-color--primary-1);
    border-radius: 8px;
    border: 3px solid RGB($now-color_background--secondary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: RGB($now-color--primary-2);
  }
}

.info-card {
  background-color: RGB($now-color_background--secondary);
  border: 1px solid RGB($now-color_border--primary);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 8px;

  .card-header {
    border-bottom: 1px solid RGB($now-color_border--primary);
    padding: 4px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: space-between;
    height: 50px;

    .right {
      margin-right: 30px;
    }
  }

  .card-body {
    &.overflow {
      overflow-x: auto;
    }

    pre {
      overflow-x: auto;
    }

    .key {
      //font-weight: bold;
      color: RGB($now-color--primary-1);
    }
  }
}

.primary-color {
  color: RGB($now-color--primary-1);
}

.record-link {
	color: RGB($now-color--primary-1);
}

.record-link:hover {
  color: RGB($now-color--primary-2);
}