@import '@servicenow/sass-kit/host';
@import '@servicenow/sass-utility/index';

#integration-container {

  .sticky {
    position: sticky;
    top: 6px;
    z-index: 5;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: 1rem;
    @media (min-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .divider {
    display: flex;
    align-items: center;
    color: RGB($now-color--primary-1);
    margin: 14px;
    font-weight: 100;
		font-size: 1.875rem;

    &:before,
    &:after {
      content: "";
      flex: 1;
      height: 1px;
      margin: 0 1em;
      background-color: RGB($now-color--primary-1);
    }
  }
  .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
  }

  input#search-bar{
    width: 490px;
    height: 30px;
    padding: 0 24px;
    font-size: 1rem;
    outline: none;
    &:focus{
      border: 1px solid RGB($now-color--primary-1);
      transition: 0.35s ease;
      color: RGB($now-color--primary-1);
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease;
        opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease;
       opacity: 0;
       }
     }
   }

  .search-icon{
    position: relative;
    float: right;
    right: 24px;
  }
}

.context-menu-container {
	display: none;
	z-index: 100;
	position: absolute;
	&.visible {
		display: block;
	}

	.context-menu {
		display: flex;
		flex-direction: column;
		background-color: RGB($now-color_background--tertiary);
		border: 1px solid RGB($now-color_border--primary);
		border-radius: 10px;
		color: RGB($now-color_text--primary);
		font-family: $now-font-family;

		.context-menu-list {
			margin: 0;
			display: block;
			width: 100%;
			padding: 8px;
			& + .context-menu-list {
				border-top: 1px solid RGB($now-color_border--primary);
			}
		}
		.context-menu-item {
			position: relative;
		}
		.context-menu-button {
			font: inherit;
			border: 0;
			padding: 8px 8px;
			padding-right: 36px;
			width: 100%;
			border-radius: 8px;
			text-align: left;
			display: flex;
			align-items: center;
			position: relative;
			color: RGB($now-color_text--primary);
			background-color: RGB($now-color_background--tertiary);
			&:hover {
				background-color: RGB($now-color--primary-1);
				& + .context-menu-sub-list {
					display: flex;
				}
				.context-menu-icon {
					fill: RGB($now-color_text--primary);
				}
			}
		}
		.context-menu-icon {
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			fill: RGB($now-color_text--secondary);
			&:nth-of-type(2) {
				margin-right: 0;
				position: absolute;
				right: 8px;
			}
		}
		.context-menu-sub-list {
			display: none;
			padding: 8px;
			background-color: RGB($now-color_background--tertiary);
			border: 1px solid RGB($now-color_border--primary);
			border-radius: 10px;
			position: absolute;
			left: 100%;
			right: 0;
			z-index: 100;
			width: 100%;
			top: 0;
			flex-direction: column;
			&:hover {
				display: flex;
			}
		}
	}
}