@import '@servicenow/sass-kit/host';
@import '@servicenow/sass-utility/index';

/* Color Variables */
$accent-color: #61C7B3;
$color-light-grey: #EFEFEF;
$color-red: #D23B3D;

$sidebar-width: 300px;
$sidebar-padding: 50px;

.list2_empty-state-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: $now-global-font-size--md;
	color: RGB($now-color_text--primary);
	text-align: center;
	padding: $now-global-space--xl;
	width: 100%;

	.list-flavin {
    margin: 0 auto;
    background: url("/images/polarisberg/flavin/no-data-lg.svg");
    width: 350px;
    height: 318px;
	}
}


#snc-alert-email-message-list {
	//width: 50vw;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

a {
	color: $accent-color;
	text-decoration: none;
	transition-duration: .3s;

	&:hover {
		color: darken($accent-color, 20%);
		transition-duration: .05s;
		text-decoration: none;
	}
}

ul {
  list-style: none;
}



#main {
	font-family: $now-font-family;
	color: RGB($now-color_text--primary);
}

.header {
  display: flex;
  align-items: center;
	gap: 10px;
	width: 100%;
	padding: 0 6px;
	.table-title {
		flex-basis: auto;
		h1 {
			font-size: 1.625rem;
			font-weight: 100;
			line-height: 40px;
			margin: 0px;
		}
	}


	.filter-container {
		flex-basis: auto;
		flex-grow: 1;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px 0;
		.filter {
			display: flex;
			align-items: center;
			gap: 6px;
			.filter-icon-container {
				display: flex;
				align-items: center;
				gap: 6px;
			}
			.filter-inputs {
				display: flex;
				align-items: center;
				gap: 6px;
			}
			.and-or-button {
				cursor: pointer;
				border-radius: 4px;
				border: 1px solid RGB($now-color--primary-0);
				background-color: RGB($now-color_background--secondary);
				padding: 6px;

				&.AND {

				}
				&.OR {

				}
			}
		}
		.filter-icon {
			fill: RGB($now-color--primary-1);
			cursor: pointer;
			&:hover {
				fill: RGB($now-color--primary-2);
			}
		}
		.filter-input {
			width: 150px;
			border: 1px solid RGB($now-color--primary-1);
			border-radius: 4px;
			padding: 4px;
			background-color: RGB($now-color_background--secondary);
			color: RGB($now-color_text--primary);
			&:focus-visible {
				outline-offset: 0px;
				outline: RGB($now-color--primary-1) solid 1px;
			}
			&.operator {
				width: 100px;
			}
		}
		.filter-results {
			width: 150px;
			max-height: 300px;
			overflow-y: auto;
			word-wrap: break-word;
			position: absolute;
			margin-top: -1px;
			border: 1px solid RGB($now-color--primary-1);
			z-index: 3;
			background-color: RGB($now-color_background--secondary);
			margin: 0;
			padding: 0;
			list-style: none;
			transition: none;
			.filter-result {
				padding: 4px;
				cursor: pointer;
				&:hover {
					background-color: RGB($now-color_background--tertiary);
				}
			}
			&.operator {
				width: 100px;
			}
		}
	}

	.action-bar {
		flex-basis: auto;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			margin-right: 10px;
			float: right;
		}
	}
}



.table-wrapper {
	overflow: auto;
	height: 80vh;
	width: 100%;

	&::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
    background: RGB($now-color_background--secondary);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: RGB($now-color--primary-1);
    border-radius: 8px;
    border: 3px solid RGB($now-color_background--secondary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: RGB($now-color--primary-2);
  }
	&::-webkit-scrollbar-corner {
		opacity: 0;
	}
}

.table-inbox {
  margin-bottom: 0;
  border-spacing: 0px;
  border-collapse: collapse;
	font-size: 1rem;
}
.table-inbox tr {
  background-color: RGB($now-color_background--primary);
	transition-duration: 300ms;
	transition-property: background-color;
}
.table-inbox tr th {
  padding: 8px !important;
  background-color: RGB($now-color_background--secondary);
  position: sticky;
  top: 0;
  z-index: 2;
  cursor: move;
  user-select: none;
	font-weight: normal;
	max-width: 400px;
	min-width: 100px;
}
.table-inbox tr td {
  padding: 8px !important;
  cursor: pointer;
	max-width: 400px;
	min-width: 100px;
	text-align: center;

	&.no-padding {
		padding: 0px !important;
	}
	&.description {
		text-align: left;
		min-width: 600px;
		max-width: 600px;
	}
}
.table-inbox tr td now-icon {
  color: #f78a09;
}
.table-inbox tr:nth-child(odd) {
  background-color: RGB($now-color_background--secondary);
}
.table-inbox tr td:not(:first-child) {
  border-left: 1px solid RGB($now-color_divider--tertiary);
}
.table-inbox tr:hover {
  background-color: RGB($now-color_background--tertiary) !important;
}
.table-inbox tr.active {
	background-color: RGB($now-color--primary-0) !important;
}

.table-inbox .table-header.select {
	cursor: pointer !important;
}

.circle-tags {
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle-tag {
	color: #ffffff;
	background-color: RGB($now-color_divider--primary);
	border-radius: 50%;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 35px;
}

.tag {
	border-radius: 4px;
	padding: 2px 8px;
	margin-bottom: 8px;
	word-break: keep-all;
	color: RGB($now-color_text--primary);
	text-align: left;
}

.broker-tags-container {
	min-width: 400px !important;
	max-width: 400px !important;
}

.broker-tags {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
}

.broker-tag {
	background: #B8DCDB;
	color: #000000;
	padding: 2px 2px;
	margin: 2px;
	border-radius: 6px;
	.tag-key {
		font-weight: bold;
		font-size: 0.9em;
	}
}

.g-icon {
	fill: RGB($now-color_text--primary);
	&:hover {
		fill: RGB($now-color_text--secondary);
	}
}

.primary-color {
	color: RGB($now-color--primary-1);
}

.critical {
	background-color: RGB($now-color_alert--critical-1);
}
.high {
	background-color: RGB($now-color_alert--high-1);
}
.warning {
	background-color: RGB($now-color_alert--warning-1);
}
.moderate {
	background-color: RGB($now-color_alert--moderate-1);
}
.positive {
	background-color: RGB($now-color_alert--positive-1);
}

.red-color {
	fill: #AB2938;
	&:hover {
		fill: #8a1e2b;
	}
}

.record-link {
	color: RGB($now-color--primary-1);
}

.record-link:hover {
  color: RGB($now-color--primary-2);
}

.underline-record-link {
	border-bottom: 2px solid RGB($now-color--primary-1);
	&:hover {
		border-color: RGB($now-color--primary-2);
	}
}

.context-menu {
	display: none;
	z-index: 100;
	color: RGB($now-color_text--primary);
	font-size: 1em;
	border-radius: 8px;
	width: 150px;
	position: absolute;
	background-color: RGB($now-color_background--tertiary);
	border: 1px solid RGB($now-color_border--primary);
	&.visible {
		display: block;
	}

	.context-option {
		padding: 6px;
		border-radius: 8px;
		cursor: pointer;
		&:hover {
			background-color: RGB($now-color--primary-1);
		}
	}
	hr {
		border: 1px solid RGB($now-color--primary-1);
		margin-block-start: 0.2em;
		margin-block-end: 0.2em;
	}
}