@import '@servicenow/sass-kit/host';
@import '@servicenow/sass-utility/index';

$sidebar-padding: 20px;

* {
  box-sizing: border-box;
}

#sidebar {
  font-family: $now-font-family;
	font-size: 1rem;
  background-color: RGB($now-color_background--secondary);
  color: RGB($now-color_text--primary);
  transition-duration: 1s;
	min-width: 200px;
	height: 100%;

	.sticky {
		position: sticky;
		top: 0;
	}

  .menu-item {
    transition-duration: .3s;
    cursor: pointer;

    &:hover {
      transition-duration: .05s;
    }
  }

  .logo-container {
    font-weight: 100;
		font-size: 1.875rem;
    display: flex;
		align-items: center;
		justify-content: flex-start;
		column-gap: 16px;
		padding-left: 20px;
		padding-right: 10px;
		padding-top: 10px;
  }

  .menu-segment {
    padding: 0;

    ul {
			margin: 0;
			padding: 0;
      list-style: none;
		}

    li {
			padding-left: 20px;

			&.ciName {
				text-transform: uppercase;
				font-weight: 600;
				color: RGB($now-color_text--primary);
			}

			&.active .menu-item, &.active .menu-item:hover {
				background: RGB($now-color--primary-1);
			}

			.menu-item {
				display: flex;
				align-items: center;
				justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: (-$sidebar-padding - 20px);
				// margin: 0px -$sidebar-padding 0px (-$sidebar-padding - 20px);
				padding: 10px $sidebar-padding 10px ($sidebar-padding + 20px);

				&:hover {
					background: RGB($now-color--primary-0) !important;
				}
			}
		}
  }
}

.primary-color {
	color: RGB($now-color--primary-1);
}

.g-icon {
	fill: RGB($now-color_text--primary);
}